$font-size: 1rem;
$line-height: 1.4;
$lines-to-show: 4;

.book-card {
    padding: 15px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03);
    margin-bottom: 30px;

    object,
    object img {
        width: 120px;
        border-radius: 10px;
        margin-right: 15px;

        @include media-breakpoint-down(xs) {
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }

    .media-body {
        h5 {
            margin-bottom: 10px;
            font-weight: 600;
            text-transform: lowercase;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        p {
            display: block;
            /* Fallback for non-webkit */
            display: -webkit-box;
            max-width: 400px;
            height: $font-size*$line-height*$lines-to-show;
            /* Fallback for non-webkit */
            font-size: $font-size;
            line-height: $line-height;
            -webkit-line-clamp: $lines-to-show;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 1.3rem;
        }
    }

    .action-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span.share-book {
            font-size: 24px;
            padding: 3px 10px;
            line-height: 1;
            cursor: pointer;

            &:hover {
                color: $primary;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        flex-direction: column;
        text-align: center;
    }
}
