[role="main"] {
  padding-top: 80px;
}

.page-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 35px;

  h2 {
    font-size: 32px;
    font-weight: 600;
  }
}

@media (min-width: 1600px) {
  .item-book {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

.book-list {
  list-style: none;
  padding: 0;
}

.no-books-container {
  height: calc(100vh - 400px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  opacity: 0.6;

  i {
    display: block;
    font-size: 48px;
    color: $primary;
  }
}