.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;

	@include media-breakpoint-down(sm) {
		padding-left: 60px;
	}
}

.navbar {
	background: $white;

	.form-control {
		padding: .75rem 1rem;
		border-width: 0;
		border-radius: 0;
	}
}

.navbar-menu-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 25px;

	@include media-breakpoint-down(sm) {
		display: none;
	}

	&.active {
		display: flex;
	}

	.navbar-nav {
		flex-direction: row;
	}
}

.user-info-block {
	.media {
		align-items: center;

		h5 {
			font-size: 15px;
		}

		img {
			border-radius: 50%;
			box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.25);
		}
	}
}

.navbar-custom {
	.dropdown-menu {
		position: absolute;
	}

	li {
		font-size: 24px;
		margin-left: 20px;
		position: relative;

		&:first-child {
			margin-left: 0;
		}

		.icon {
			line-height: 1.7;
		}

		&.notifications sup {
			background: $primary;
			font-size: 10px;
			padding: 8px;
			display: block;
			border-radius: 50%;
			height: 10px;
			width: 10px;
			color: $white;
			position: absolute;
			right: -10px;
			top: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.navbar .search-form-wrapper {
	position: relative;

	input {
		padding-left: 40px;
	}

	.btn-link {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 9;
		padding: 3px 10px;
		font-size: 20px;
		color: $black;
	}
}

span.mobile-menu {
	position: absolute;
	left: 20px;
	top: 5px;
	font-size: 28px;
	z-index: 9;
	color: $black;
}

span.mobile-profile-setting {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 28px;
	z-index: 9;
	color: $black;
}