//---------------------------------------------------------//
// Custom Variables
//---------------------------------------------------------//

$globalMarginBottom: 20px;
$img-url: '../../images';

$easing-speed: 0.25s;
$easing: ease-in-out;

$primary: #5f1cbb;
$secondary: #f0e7fc;
$white: #ffffff;
$light-gray: #fafafa;
$gray: #9e9d9d;
$black: #000;
